<footer>
    <div class="sm-icons">
        <p>
            <a href="https://twitter.com/bettercallgopal"><i class="fic fa-brands fa-twitter if"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100067485754453"><i
                    class="fic fa-brands fa-facebook if"></i></a>
            <a href="https://www.instagram.com/bettercallgopal/"><i class="fa-brands fa-instagram if"></i></a>
            <a href="https://www.linkedin.com/in/gopal-verma-a99b001b0/"><i class="fa-brands fa-linkedin if"></i></a>
        </p>
        <p>Made with ❤️ by Gopal Verma</p>
    </div>
</footer>

